__pycache__
.venv/
.vscode
notebooks
.*.swp
.*.swo
*.pyc
*.so
*.txt
build
/dist
*.egg-info
/env
a.out
pandecode.dump
vertex.bin
recognize*
.idea
*.prof
venv
examples/net.*[js,json,safetensors]
node_modules
package.json
package-lock.json
temp
*.csv
.coverage
coverage.xml
htmlcov
